.productCard {
    background-color: white !important;
    border: 1px solid #dd404b !important;
    color: #1b1811;
    height: 370px;
    width: 280px;
    cursor: pointer;
  }

.cardDetail{
  border-top: 1px solid #dd404b !important;
}

.cardImage {
  height : 278px;
}