.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainBackground {
  background-color: #d22531 !important;
}

.welcomeCard {
  text-align: center;
  background-color: #dd404b !important;
  color:  white;
}

.productCard {
  background-color: white !important;
  border: 1px solid #dd404b !important;
  color: #1b1811;
  height: 370px;
  width: 280px;
  cursor: pointer;
}

.cartItem {
  background-color: white !important;
  border: 1px solid #dd404b !important;
  color: #1b1811;
}

.cardDetail{
 text-align: left;
 border-top: 1px solid #dd404b !important;
}

.productPrice{
  font-weight: bold;
}

.mainOutline{
  border-color: #d22531 !important;
  background-color: white !important;
  color: #d22531 !important;
}

.productImage {
  height : 70vh;
}

.cardImage {
  height : 278px;
}

.buyingActions {
  width: 300px !important;
}